html
    head
        meta(charset = "utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title User Profile
        link(rel="stylesheet" type="text/css" href="assets/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Oxygen|Raleway" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    body
        .header
            .center-content-v
                .brand
                    a(href="#") BRAND
            .center-content-v
                .nav
                    a(href="#").nav-btn Home
                    a(href="#").nav-btn Friends
                    a(href="#").nav-btn Groups
        .user-module
            .jumbotron
            .center-content-h
                .userprofile
            .center-content-h.theme-gradient
                .userdesc
                    h1 Emily Stark
                    .social
                        i.ion-social-github
                        i.ion-social-twitter
                        i.ion-social-facebook
                        i.ion-social-linkedin
                        i.ion-social-youtube
                        i.ion-social-twitch
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .center-content-v
                .center-content-h
                    h1 Gallery
                #gallery.center-content-h
                    //-
                        .gallery-img
                        .gallery-img
                        .gallery-img
                        .gallery-img
                    //
        script(src="assets/js/main.js")
