html
    head
        title User Profile
        link(rel="stylesheet" type="text/css" href="assets/css/main.css")
        link(href="https://fonts.googleapis.com/css?family=Oxygen|Raleway" rel="stylesheet")
    body
        .header
            .center-content-v
                .brand
                    a(href="#") BRAND
            .center-content-v
                .nav
                    a(href="#").nav-btn Home
                    a(href="#").nav-btn Friends
                    a(href="#").nav-btn Groups
                    a(href="#").nav-btn Settings
